---
import Layout from '../layouts/Layout.astro';
import Blog from "../components/Blog/blog02.astro";
---

<Layout title="Blog 02">
	<main>
		<h1 class="text-3xl">Blog 02</h1>
		<Blog />
	</main>
</Layout>

<style>

</style>