---
import Layout from '../layouts/Layout.astro';
import Blog from "../components/Blog/blog01.astro";
---

<Layout title="Blog 01">
	<main>
		<h1 class="text-3xl">Blog 01</h1>
		<Blog />
	</main>
</Layout>

<style>

</style>