---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Heros/hero01.astro';
---

<Layout title="Hero 01">

		<h1 class="text-3xl pb-8">Hero 01</h1>

        <Hero />
</Layout>


</Layout>

<style>

</style>