---
import Layout from '../layouts/Layout.astro';
import Hero01 from '../components/Heros/hero01.astro';
---

<Layout title="">

		<h1 class="text-3xl pb-8">Hero 01</h1>

        <Hero01 />
</Layout>


</Layout>

<style>

</style>