---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tailwind Component Snippets">

	<h2 class="text-xl">Blog Sections</h2>
	<ul>
		<li class="list-disc mb-4"><a href="/blog-01">Blog 01</a></li>
		<li class="list-disc mb-4"><a href="/blog-02">Blog 02</a></li>
	</ul>

	<h2 class="text-xl">Hero Sections</h2>
	<ul>
		<li class="list-disc mb-4"><a href="/hero-01">Hero 01</a></li>
	</ul>

</Layout>
