---
import Card from "./blog01-card.astro";
---

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <Card
        image="https://dummyimage.com/720x400"
        altimage="blog"
        category="Kategorie"
        title="Title One"
        teaser="Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
        linkname="Weiterlesen"
        url="#"
        views="1.1K"
        comments="6"
      />
      <Card
        image="https://dummyimage.com/720x400"
        altimage="blog"
        category="Kategorie"
        title="Title Two"
        teaser="Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
        linkname="Weiterlesen"
        url="#"
        views="1.2K"
        comments="8"
      />
      <Card
        image="https://dummyimage.com/720x400"
        altimage="blog"
        category="Kategorie"
        title="Title Three"
        teaser="Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
        linkname="Weiterlesen"
        url="#"
        views="1.4K"
        comments="8"
      />
    </div>
  </div>
</section>
