---
import Card from "./blog02-card.astro";
---

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            <Card
                category="Blog"
                title="Title One"
                teaser="Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
                linkname="Weiterlesen"
                url="#"
                views="3.4K"
                comments="18"
            />
            <Card
                category="Blog"
                title="Title Two"
                teaser="Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
                linkname="Weiterlesen"
                url="#"
                views="3.4K"
                comments="18"
            />
            <Card
                category="Blog"
                title="Title Three"
                teaser="Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."
                linkname="Weiterlesen"
                url="#"
                views="3.4K"
                comments="18"
            />
        </div>
    </div>
</section>
